/*-------------------------
    Footer
--------------------------*/
.footer {
    .footer-primary {
        padding-top: 80px;
        padding-bottom: 90px;
        background-color: #032b56;
    }

    .footer-secondary {
        position: relative;
        padding: 0 0 0;
        background-color: #01244a;
    }

    [class*="footer-widget"] {
        margin-bottom: 30px;
    }

    .footer-widget__title {
        color: $color-white;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 37px;
    }

    .contact-list li {
        color: #9aaabb;
        line-height: 26px;
        margin-bottom: 0;
    }

    .phone__number {
        font-size: 19px;
        font-weight: 500;
        color: $color-accent !important;
    }

    .btn__white.btn__link:hover {
        color: $color-accent !important;
    }

    .footer-widget-newsletter {
        position: relative;
        padding: 40px;
        border-radius: 8px;
        background-color: $color-white;

        .newsletter__title {
            font-size: 18px;
            line-height: 1.5;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            border-radius: 8px 8px 0 0;
            background: repeating-linear-gradient(-45deg, #fff, #fff 6px, $color-accent 6px, $color-accent 20px, #fff 20px, #fff 26px, $color-primary 26px, $color-primary 40px);
        }

        .newsletter__stamp {
            position: absolute;
            top: -50px;
            left: -50px;
        }

        .newsletter__form {
            position: relative;

            .form-control {
                border-color: #eef3fa;
                background-color: #eef3fa;
                padding-right: 110px;
            }

            .btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
                height: 40px;
                min-width: 100px;
            }
        }
    }

    .underlined__link {
        color: $color-accent;
        border-bottom: 1px solid $color-accent;

        &:hover {
            color: $color-white;
            border-bottom: 1px solid $color-white;
        }
    }

    .footer-widget-nav li a {
        display: block;
        position: relative;
        color: #9aaabb;
        font-size: 14px;
        margin-bottom: 11px;

        &:hover {
            color: $color-white;
        }
    }

    .footer__copyrights {
        color: #9aaabb;
        margin-bottom: 5px;
    }

    .footer__copyright-links li {
        a {
            position: relative;
            color: #9aaabb;
            display: block;
            margin-right: 25px;
            padding: 3px 0;

            &:hover {
                color: $color-white;
            }

            &:before {
                content: '-';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -13px;
                color: #9aaabb;
            }
        }

        &:last-child a {
            margin-right: 0;

            &:before {
                display: none;
            }
        }
    }

    .phone__number {
        margin: 20px 0;
    }

    .social-icons li a {
        border: 2px solid rgba(234, 234, 234, 0.15);

        i {
            color: #01244a;
            background-color: $color-accent;
        }

        &:hover {
            border-color: $color-white;
            background-color: transparent;
        }
    }
}

.phone__number {
    display: inline-flex;
    align-items: center;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    color: #3851a2 !important;

    &:hover {
        color: $color-primary !important;
    }

    i {
        margin-right: 7px;
    }
}

/* Scroll Top Button */
#scrollTopBtn {
    width: 110px;
    height: 110px;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: $color-secondary;
    background-color: $color-accent;
    @include prefix(transition, all .3s ease-in-out, webkit moz ms o);

    &:hover {
        color: $color-white;
        background-color: $color-primary;
    }

    .scroll__text {
        display: block;
        font-size: 14px;
        font-weight: 700;
        padding: 0 15px;
    }
}

@media (min-width: 1200px) {
    .footer {
        .footer-widget-contact {
            padding-right: 30px;
        }
    }
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 1200px) {
    .footer {
        .footer-primary {
            padding-top: 35px;
            padding-bottom: 30px;
        }

        .footer-secondary {
            padding: 20px 0;

            &:after {
                left: 20px;
                right: 20px;
                height: 3px;
            }
        }

        .footer-widget-contact {
            padding: 20px;

            &:after {
                top: 20px;
                bottom: 20px;
            }
        }

        .footer-widget {
            margin-bottom: 20px;
        }

        .footer-widget__title {
            margin-bottom: 15px;
        }

        .footer-widget-nav li a {
            font-size: 13px;
        }

        .phone__number {
            margin: 10px 0;
        }
    }
}

/* Mobile Phones */
@include xs-sm-screens {
    .footer .footer-widget-newsletter .newsletter__stamp {
        position: absolute;
        top: -20px;
        max-width: 100px;
        left: -20px;
    }

    #scrollTopBtn {
        width: 40px;
        height: 40px;
        font-size: 14px;
        border-radius: 2px;

        .scroll__text {
            display: none;
        }
    }
}