// Sass Variables
$color-primary: #2983fd;
$color-secondary: #063464;
$color-accent: #fee023;
$color-body: #8e949e;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-primary: 'Fira Sans',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;
$font-accent: 'covered by your grace',
cursive;
$body-font-size: 14px;